.nav {
  background-color: #4B39AA;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  background-color: #4B39AA;
  color: white;
  font-size: 20px;
}

body {
  background: #7362ca; /* Цвет фона */
  background-size: cover; /* Устанавливает фон так, чтобы он покрывал весь экран */
  background-attachment: fixed; /* Фиксирует фон, чтобы он не скроллировался вместе с содержимым */
  margin: 0; /* Удаляет отступы по умолчанию */
  padding: 0; /* Удаляет поля по умолчанию */
  height: 100vh; /* Устанавливает высоту тега body на 100% от высоты экрана */
}

.footer{
  background-color: #4B39AA;
  color:azure;
  display: flex;
  justify-content: space-between;
}

.footer a {
  background-color: #4B39AA;
  color: white;
  font-size: 50px;
}

.button{
  background-color: #EE51B1 !important;
  width: 250px !important;
  height: 50px !important;
  border-radius: 800px !important;  
  align-items: center !important;
  font-size: 19px !important;
  display: flex !important;
  justify-content: center !important;
}

.pad {
  position:relative;
  top: 100px;
}

.table{
  width: 2000px;
  height: 900px;
}
.card {
  margin-bottom: 10px;
}

.form{
  background: linear-gradient(to bottom,  #4b2d9f 45%,#7362ca 100%);
  width: 650px; 
  height: 200px; 
  max-width: 700px;
  width: 100%;
}
@media (max-width: 767px) {
  .form {
    padding: 2rem;
  }
}


.text{
  color: white !important;
  font-size: 27px;
  align-items: center !important
}

.text2{
  color: white !important;
  font-size: 22px;
  align-items: center !important
}

.textBig{
  color: white;
  font-size: 50px;
}

.textLitle1{
  color: white !important;
  font-size: 35px !important;
}

.textLitle{
  color: white !important;
  font-size: 17px !important;
  align-items: center !important
}

.textInfo{
  color: white;
  font-size: 15px;
  align-items: center !important
}